<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a class="navbar-link"
                   href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                    <span class="glyphicon glyphicon-chevron-left pull-left"></span>
                </a>
            </p>

            <a class="navbar-brand" href="">
                Choose Widget
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <ul class="list-group">
        <li class="list-group-item">
            <a class="link"
               ng-click="model.createNewHeading()">
                Header
            </a>
        </li>
        <li class="list-group-item">
            <a class="link" >
                Label
            </a>
        </li>
        <li class="list-group-item">
            <a class="link"
               ng-click="model.createNewHTML()">
                HTML
            </a>
        </li>
        <li class="list-group-item">
            <a class="link"
               ng-click="model.createNewTextInput()">
                Text Input
            </a>
        </li>
        <li class="list-group-item">
            <a class="link">
                Link
            </a>
        </li>
        <li class="list-group-item">
            <a class="link">
                Button
            </a>
        </li>
        <li class="list-group-item">
            <a class="link"
               ng-click="model.createNewImage()">
                Image
            </a>
        </li>
        <li class="list-group-item">
            <a class="link"
               ng-click="model.createNewYoutube()">
                Youtube
            </a>
        </li>
        <li class="list-group-item">
            <a class="link">
                Data Input
            </a>
        </li>
        <li class="list-group-item">
            <a class="link">
                Repeater
            </a>
        </li>
    </ul>
</div>

<div ng-include="'views/common/footer.view.client.html'"></div>