<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Choose Widget</title>
    <link href="../vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../../../css/style.css" rel="stylesheet"/>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a class="navbar-link"
                   href="st.html">
                    <span class="glyphicon glyphicon-chevron-left pull-left"></span>
                </a>
            </p>

            <a class="navbar-brand" href="">
                Choose Widget
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <ul class="list-group">
        <li class="list-group-item">
            <a class="link"
               href="widget-heading.view.client.html">
                Header
            </a>
        </li>
        <li class="list-group-item">
            <a class="link" >
                Label
            </a>
        </li>
        <li class="list-group-item">
            <a class="link">
                HTML
            </a>
        </li>
        <li class="list-group-item">
            <a class="link">
                Text Input
            </a>
        </li>
        <li class="list-group-item">
            <a class="link">
                Link
            </a>
        </li>
        <li class="list-group-item">
            <a class="link">
                Button
            </a>
        </li>
        <li class="list-group-item">
            <a class="link"
               href="widget-image.view.client.html">
                Image
            </a>
        </li>
        <li class="list-group-item">
            <a class="link"
               href="widget-youtube.view.client.html">
                Youtube
            </a>
        </li>
        <li class="list-group-item">
            <a class="link">
                Data Input
            </a>
        </li>
        <li class="list-group-item">
            <a class="link">
                Repeater
            </a>
        </li>
    </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a class="navbar-link" href="../../user/templates/profile.view.client.html">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>

</body>
</html>